#div17{
    /* border: 4px solid red; */
    width: 70%;
    height: 550px;
    margin: 150px auto;
    display: flex;
}
#div171{
    /* border: 4px solid yellow; */
    width: 55%;
    height: 550px;
}
#div171 img{
    display:block;
    width: 100%;
    height:100%;
    border-radius: 15px;
    object-fit: cover;
}
#div171 p{
    margin-top: 15px;
    color: rgba(0, 0, 0, .7);
    font-size: 14px;
    font-family: 'gentonabook';
    font-weight: 400;
}

#div172{
    /* border: 4px solid green; */
    width: inherit;
    height: inherit;
    margin-left: 65px;
}
#div172 #p1{
    margin-top: 45px;
    font-size: 40px;
    font-family: 'gentonamedium';
    text-shadow: 1.152px 1.152px 0 #fff, 1.728px 1.728px 0 #92c83e;
    color: #000000;
    font-weight: normal;
    letter-spacing: 2px;
    font-weight: 600;
}
#div172 #p2{
    color: #333;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-top: 45px;
}
#div172 #p3{
    font-size: 28px;
    color: #000000;
    margin-top: 20px;
    font-weight: 600;
    font-family: 'gentonamedium';
}
#div172 #p4{

    margin-top:35px;
    /* margin-left: 250px; */
    background: none;
    border-radius: 0px;
    text-decoration: none;
    letter-spacing: -0.02em;
    color: #16AA51;
    cursor: pointer;
    font-size: 22px;
    font-weight: 600;
    font-family: 'gentonamedium';
    display: inline-flex;
    align-items: center;
    gap: 8px;

}

#section7{
    /* border: 4px solid green; */
    width: 100%;
    height: 110vh;
    background-color: #f4f6f2;
    clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 100%);
}
#section7 h1{
    display: inline-block;
    /* border: 4px solid green; */
    font-size: 48px;
    margin-top: 170px;
    margin-left: 250px;
    font-family: 'gentonamedium';
    font-weight: 600;
    text-shadow: 1.152px 1.152px 0 #fff, 1.728px 1.728px 0 #92c83e;
    color: #000000;
    letter-spacing: -1px;
}
#div18{
    /* border: 4px solid green; */
    width: 66%;
    height: 55%;
    margin: 0px auto;
    margin-top: 55px;
    display: flex;
}
#div18 #fans,#front,#speaker{
    margin-left: 15px;
    /* border: 4px solid green; */
    width: inherit;
    cursor: pointer;
}
#fans img{
    object-fit: cover;
    width: 100%;
}
#front img{
    object-fit: cover;
    width: 100%;
}
#speaker img{
    object-fit: cover;
    width: 100%;
}
#fans p:last-of-type,
#front p:last-of-type,
#speaker p:last-of-type {
    display: flex;
    align-items: center;
    gap: 6px; 
    font-weight: bold; 
    cursor: pointer; 
}
#fans p:last-of-type img,
#front p:last-of-type img,
#speaker p:last-of-type img {
    width: 16px; 
    height: auto;
}

#fans1 ,#front1,#speaker1{
    margin-top: 20px;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #000000;
    margin: 16px 0px;
    font-family: 'gentonamedium';
    cursor: pointer;
}
#fans2,#front2,#speaker2{
    color: #16AA51;
}


#section8{
    /* border: 4px solid red; */
    width: 100%;
    height: 100vh;
    /* clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 100%); */
}
#section8 h1{
    margin-top: 150px;
    margin-left: 230px;
    color: #000;
    font-family: 'gentonamedium';
    /* font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; */
    font-weight: 600;
    font-size:45px;
}
#pic{
    /* border: 4px solid red; */
    width: 50%;
    height: 45vh;
    margin-top: 50px;
    margin-left:230px;
    display: flex;
}
#ola {
    /* border: 4px solid red; */
    width: 100%;
    height: 100%;
    background: radial-gradient(100% 100% at 28.66% 0%, #F9FCF4 0%, #E0E6D8 100%);
}
#driver{
    background: radial-gradient(100% 100% at 28.66% 0%, #F9FCF4 0%, #E0E6D8 100%);
    /* border: 4px solid red; */
    margin-left:40px;
    width: 100%;
    height: 100%;
}
#ola img {
    margin-left: 30px;
    margin-top:15px;
}
#driver img{
    margin-left: 30px;
    margin-top:15px;
    border-radius: 15px;
}
.arrow{
    position: absolute;
    left:520px;
    width: 30px;
    font-weight: 600;
}
.arroww{
    position: absolute;
    left:900px;
    width: 30px;
    font-weight: 600;
}
.ola{
    font-size:30px;
    margin-top: 45px;
    margin-left: 20px;
    font-weight: 600;
}
.olaa{
    margin-top: 25px;
    margin-left: 20px;
    letter-spacing: -0.01em;
    color: rgba(0, 0, 0, .64);
    font-size: 16px;
    line-height: 20px;
    font-family: 'gentonabook';
    font-weight: 400;
}

#footer{
    /* border: 4px solid #008000; */
    background-color: #f4f6f2;
    width: 100%;
    height: 60vh;
    display: flex;
}

#foot{
    /* border: 4px solid #008000; */
    height: 150px;
    margin-left: 250px;
    margin-top: 70px;
}
#foot img{
    width: 60px;
}
#icons .fa-brands{
    margin-top: 15px;
    width: 55px;
    font-size: 25px;
}
#l1,#l2,#l3{
    /* border: 4px solid #008000; */
    width: 150px;
    height: 250px;
    margin-top: 70px;
    margin-left: 45px;
}
#ol1,#ol2,#ol3{
    list-style: none;
}
#ol1 li:not(:first-child),
#ol2 li:not(:first-child),
#ol3 li:not(:first-child)
{
    padding-top: 18px;
    font-family: 'gentonabook';
    font-weight: 400;
}
#ol1 li,#ol2 li,#ol3 li{
    font-family: 'gentonabook';
    font-weight: 400;
    background: none;
    border-radius: 0px;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    cursor: pointer;
}
#copy{
    width: 100%;
    height: 10vh;
    background-color: #f4f6f2;
}
#line {
    width: 80%;
    margin: 0px auto;
}
#rights{
    margin-top: 5px;
    margin-left: 270px;
    font-size: 12px;
    font-weight: 400;
    color: rgba(0, 0, 0, .3);
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#rights ul{
    list-style: none;
    text-decoration: underline;
    position: absolute;
    justify-content: space-between;
    /* border: 3px solid red; */
    margin-left: 605px;
    margin-top: -10px;

}
#rights li{
    display: inline;
    text-decoration: underline;
    margin-left: 45px;
    cursor: pointer;   
}
#india{
    position: absolute;
    right: 200px;
    margin-top: -10px;
    color:grey;
}